body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #99eb9c;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 90;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo-img {
    max-height: 60px;
    height: auto;
    width: auto;
}

.menu {
    margin-left: auto;
    display: flex;
}

.menu a {
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #45a049;
}

.title-section {
    margin-top: 50px; 
    text-align: center;
    padding: 20px;
}

.title-section h1 {
    font-size: 36px;
    color: #4CAF50;
}

.main-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto 100px;
    padding: 40px 0; 
    gap: 100px;
}

.image-section img {
    max-height: 300px;
}

.text-section {
    max-width: 50%; 
}

.text-section p {
    font-size: 18px;
    color: #333;
    text-align: justify; 
}


.tooltip {
    visibility: hidden;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    top: 30px; 
    left: 25%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.logo:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width: 1300px) {
    .tooltip{
        top:100px;
        left: 50%;
        }
}