/* .container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.container {
    margin-top: 100px; 
    width: 90%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #4CAF50;
}
.content p {
    font-size: 1.4em;
    line-height: 1.7;
}

.tradition-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tradition-img {
    width: 45%; 
    height: auto;
    border-radius: 10px;
}

.tradition-text {
    width: 50%;
}

.tradition-item.reverse {
    flex-direction: row-reverse;
    text-align: left;
}


.tradition-item.reverse .tradition-img {
    margin-right: 0;
    margin-left: 30px;
}

.tradition-text {
    width: 50%;
}

.tradition-text h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color:#6fca72;
}

.tradition-text p {
    font-size: 1.2em;
    line-height: 1.7;
}

@media screen and (max-width: 768px) {
    .tradition-item {
        flex-direction: column;
    }

    .tradition-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .tradition-item.reverse .tradition-img {
        margin-left: 0;
    }

    .tradition-text {
        width: 100%;
    }
}

video.tradition-img {
    width: 50%; 
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}
